/* Make sure that padding behaves as expected */
* {
  box-sizing: border-box;
}
.bigBox {
  display: grid;
  grid-template-columns: 7% 86% 7%;
  width: 1000px;
  background-color: #f44336;
}

.button {
  width: 100%;
  height: 100%;
}

.progressBar {
  height: 100%;
  max-width: 860px;
}

/* Container for skill bars */
.container {
  background-color: #ddd; /* Grey background */
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
}

.html {
  background-color: #04aa6d;
} /* Green */
.css {
  width: 80%;
  background-color: #2196f3;
} /* Blue */
.js {
  width: 65%;
  background-color: #f44336;
} /* Red */
.php {
  width: 60%;
  background-color: #808080;
} /* Dark Grey */
